body {
  font-family: "Open-sans", sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.container {
  margin: auto;
}

/* COMMON CLASSES */
.primary-text {
  color: #797979;
}
/*ADDING SECONDARY TEXT TITTLES*/
.secondary-text {
  color: #3d0f39;
}

.primary-background {
  background: #797979;
}

/* HEADER */
#main-header {
  border-bottom: 1px solid #797979;
}
/*SUBHEADER*/

.subheader h1 {
  color: #888;
}

/* NAVBAR */
#navbar {
  text-transform: uppercase;
}

#navbar li {
  display: inline;
  padding-right: 20px;
  list-style: none;
}

#navbar a {
  text-decoration: none;
  color: #888;
}

#navbar li.current a,
#navbar a:hover {
  color: #797979;
  border-bottom: 3px solid #797979;
  padding-bottom: 3px;
}

/* SHOWCASE */
#showcase {
  background: url("../images/showcase.png") no-repeat center center;
  border-bottom: 1px solid #797979;
  margin-bottom: 30px;
}

#showcase .row {
  height: 600px;
}

#showcase h2 {
  font-size: 50px;
  margin: 0;
  padding-bottom: 20px;
}

#showcase p {
  color: #ccc;
  margin: 0;
}

#showcase .showcase-content {
  background: rgb(115, 143, 166);
  color: #fff;
  border-radius: 90px;
  padding: 40px;
  opacity: 0.9;
}

/* FEATURES */
/*adding border botton */
.feature {
  border-bottom: 1px solid #797979;
}

.feature h2 {
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
  color: #888;
}

.feature h4 {
  color: #888;
}

.feature p {
  color: #888;
  margin: 0;
  margin-bottom: 40px;
}

.feature .fa {
  font-size: 60px;
  color: #797979;
}

/* INFO */
/*Adding new background and adjusting position */
#info {
 /* background: url("../img/newcolor.png") no-repeat; */
  background-position: center;
  color: #888;
}

#info h2 {
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
}

#info ul {
  list-style: none;
  padding: 0;
}

#info li {
  line-height: 2em;
  font-size: 20px;
}

/* COMPANY */
#company {
  background: rgb(115, 143, 166);
  color: #fff;
  padding: 10px 0;
}
#company h4 {
  text-transform: uppercase;
  margin-bottom: 0;
}

#company ul {
  padding: 0;
  list-style: none;
  line-height: 2em;
}

#company input[type="text"] {
  padding: 7px;
}

#company button {
  background: #626162;
  color: #fff;
  padding: 10px;
  border: 0;
}

/* FOOTER */
#main-footer {
  background: #797979;
  color: #fff;
}

/* ABOUT */
/*Adding new background and adjusting position */
#page {
  margin-bottom: 40px;
 /* background: url("../images/newcolor.png") no-repeat;*/
  background-position: center;
}

#page p {
  color: #626162;
}

/* SERVICES */
.services ul li {
  list-style: none;
  padding: 10px;
}

.services ul li:nth-child(odd) {
  background: rgba(49, 43, 49, 0.6);
  color: #fff;
}

.services ul li:nth-child(even) {
  background: #797979;
  color: #fff;
}

/* CONTACT */
.contact form {
  background: rgba(49, 43, 49, 0.6);
  color: #fff;
  padding: 20px;
}

.contact form input[type="text"] {
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
}

.contact form textarea {
  width: 50%;
  height: 100px;
}

.contact form button {
  width: 50%;
  padding: 10px 0;
  border: 0;
  background: rgba(49, 43, 49, 0.6);
  color: #fff;
}

.contact form label {
  text-transform: uppercase;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
  #showcase h1 {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  #showcase .showcase-content {
    padding: 40px 10px;
  }
}
