
body{
    font-family: 'Open-sans' , sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin:0;
    padding: 0;

}
img{
    width: 100%;
}

.container{
    margin: auto;
}

/* common classes */

.primary-text{
    color: #56a79a;
}
.primary-background{
    background: #56a79a;
}
/* header*/
#main-header{
    border-bottom: 1px solid #56a79a;

}
/* navbar */

#navbar{
    text-transform: uppercase;

}
#navbar li{
    display: inline;
    padding-right: 20px;
    list-style: none;

}
#navbar a{
    text-decoration: none;
    color: #888;

}
#navbar .current a, #navbar a:hover{
    color: #56a79a;
    border-bottom: 3px solid #56a79a;
    padding-bottom: 3px;
}

/* showcase */

#showcase{
    background: url(../Images/showcase.png) no-repeat;
    border-bottom:1px solid #56a79a;
    margin:30px;
    min-height:400px;
    width:100%;
    text-align:center;
    opacity:0.7;
    font-weight:bold;
    padding-left:0;

}
#showcase .row{
    height: 600px;
}
#showcase h1{

    font-size: 50px;
    margin: 0;
    padding-bottom:20px;

}
#showcase p {
    color:#ccc;
    margin:0;

}
#showcase .showcase-content{
    background: #333;
    color: #fff;
    border-radius: 90px;
    padding:40px;
    opacity:0.6;

}
/*features */

#features h2{
    font-size:35px;
    margin:0;
    padding-bottom:10px;


}
#features p{
    color: #888;
    margin: 0;
    margin-bottom: 40px;

}
#features .fa{
    font-size: 60px;
    color: #56a79a;

}

/* info */
#info {
    background:url(../Images/Feature-Background-Image.png) no-repeat;
    color: #fff;
    
}
#info h2{
    font-size: 35px;
    margin: 0;
    padding-bottom: 10px;

}
#info ul{
    list-style: none;
    padding: 0;

}
#info li{
    line-height: 2em;
    font-size: 20px;

}

/*company*/

#company{
background: #333;
color: #fff;
padding: 10px 0;

}

#company h4{
    text-transform: uppercase;
    margin-bottom: 0;
}

#company ul{
    padding: 0;
    list-style: none;
    line-height: 2em;
}

#company input[type="text"]
{
    padding: 7px;

}
#company button{
    background:#222 ;
    color: #fff;
    padding: 10px;
    border: 0;

}

/*footer*/

#main-footer{
    background:#56a79a;
    color: #fff;
}



/* media queries*/
@media(max-width:500px){
    #showcase .showcase-content{
        padding:40px 10px;

    }
}
